.flexbox {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.box1 {
    width: 42%;
    margin: 1vw auto;
    text-align: center;
}

.box2 {
    width: 45vw;
}



.charimg {
    margin: 0 auto 0.5vw auto;
    height: 30vw;
    overflow: hidden;
    display: flex;
    border: 2px solid #1fb35c;
    border-radius: 10px;
  }
  
  .charimg img {
   margin: auto;
   max-width: 100%;
   max-height: 100%;
  }

  .name {
    font-size: 30px;
    text-align: center;
    padding: 10px;
    background-color:#268035;
    border-radius: 10px;
  }


.textbox {
    background-color: #1a211a;
    height: 20vw;
    padding: 15px;
    width: 40vw;
    border-radius: 10px;
    overflow: auto;
    margin: 1vw auto;
    break-inside: avoid;
  }


  .textbox h3 {
    text-transform: lowercase;
    background-color: #268035;
    padding: 10px;
    letter-spacing: 2px;
    border-radius: 10px;
    text-align: right;
    margin-top: 0.5vw;
  }

  .t1 {
      margin-bottom: 2vw;
  }

  .textbox ul {
    margin-left: -6%;
  }

  .textbox li {
    overflow: hidden;
	padding: 6px 0px;
  }
  .textbox li:last-child {
	border: none;
  }

  .textbox li b {
    font-size: 17px;
    margin-right: 5px;
    font-weight: 600;
  }

  .creator {
    width: 15vw;
    background-color: #143021;
    font-size: 14px;
    margin-top: 1vw;
    min-height: 3vw;
    font-weight: 600;
  }

  .created {
    width: 40vw;
    margin: auto;
    display: flex;
    justify-content: center;
  }

  
  .lock {
    margin: 0.5vw;
    transform: translateY(20px);
    color: #f2f2f2;
    font-size: 25px;
  }




  @media only screen  and (max-width:1300px) {

    .creator {
      width: 20vw;
    }
  
    .created {
      width: 40vw;
    }
  }
  
  @media only screen  and (max-width:1200px) {
    .textbox li {
      font-size: 14px;
    }

    .textbox li b {
      font-size: 15px;
    }

    .textbox h3 {
      font-size: 16px;
    }

    .name {
      font-size: 25px;
    }

  }

  @media only screen  and (max-width:1000px) {

    .creator {
      width: 30vw;
    }
  
    .created {
      width: 40vw;
    }

  }

  @media only screen  and (max-width:800px) {



    .creator {
      width: 40vw;
    }
  
    .created {
      width: 60vw;
    }

    .textbox ul {
      margin-left: -13%;
    }
    .textbox li {
      font-size: 13px;
    }

    .textbox li b {
      font-size: 14px;
    }

    .name {
      font-size: 20px;
    }

  }

  
   @media only screen  and (max-width:600px) {

    .box1 {
      width: 75%;
    }

    .charimg {
      height: auto;
    }
    .flexbox {
      display: inline-block;
    }

    .box2 {
      margin: 4vw auto;
      width: auto;
    }

    .textbox {
      width: 70vw;
      height: 42vw;
      margin: 3vw auto;
    }

    .textbox ul {
      margin-left: -6%;
    }
  } 

  @media only screen and (max-width: 500px) {
    .creator {
      width: 60vw;
    }
  
    .created {
      width: 60vw;
    }

    .textbox ul {
      margin-left: -10%;
    }
  }

  @media only screen and (max-width: 350px) {
    .creator {
      width: 65vw;
    }
  
    .created {
      width: 65vw;
    }
    .textbox ul {
      margin-left: -15%;
    }
  }