@import url('https://fonts.googleapis.com/css?family=Exo+2|IBM+Plex+Sans');

/* ---- COLORS ----- */
:root {
  --backgroundColor: #000;
  --appColor: #0d0d0d;
  --textColor: #f2f2f2;
  --fontSizeHeader: 18px;
  --scrollbarColor: #2e4934;
  --scrollHoverColor: #585858;
  --linkHover: #6afff8;
  --buttonBackgroundColor: #0b7726;
  --buttonBackgroundColorHover: #07531a;
  --headerColor: #387c47;
  --invalidTextColor: #c50e0e;
  --invalidBackgroundColor: #ff9292;
  --inputFieldColor: #1d221d;
}

::selection {
  background-color: #0000ff;
  color: #fbfffb;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: var(--scrollbarColor);
  border: 0px none #ffffff;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--buttonBackgroundColorHover);
}
::-webkit-scrollbar-thumb:active {
  background: var(--buttonBackgroundColorHover);
}
::-webkit-scrollbar-track {
  background: var(--appColor);
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: var(--scrollHoverColor);
}
::-webkit-scrollbar-track:active {
  background: var(--appColor);
}
::-webkit-scrollbar-corner {
  background: transparent;
}


.App {
  width:  65vw;
  margin: 5vw auto;
  background-color: var(--appColor);
  border-radius: 1vh;
  min-height: 50vh;
  padding: 1vh 4vh;
  border: 2px solid #236948;
}

.containerhome {
  width:  90vw;
  margin: 4vw auto;
  background-color: var(--appColor);
  border-radius: 1vh;
  min-height: 50vh;
  padding: 1vh 4vh;
}

body {
  background-color: var(--backgroundColor);
  color: var(--textColor);
  font-family: 'Exo 2', 'Lucida Sans Unicode', 'Arial', sans-serif;
}

h1 {
  font-size: 20px;
  font-family: 'IBM Plex Sans', 'Lucida Sans Unicode', 'Arial', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

a {
  color:var(--textColor);
  text-decoration: none;
}

a:hover {
  color: var(--linkHover);
}

dl {
      margin-bottom: .5vw;
      padding: .5em;
}

dt {
  color: #5dd845;
  font-size: 18.5px;
  font-weight: 700;
  margin-right: 1vw;
  padding: .3vw;
  width: 10vw;
  margin-bottom: 0.1vw;
}

dd {
  padding: .3vw;
  margin-bottom: 0.6vh;
  border-bottom: 1px solid #616161;
}

.header {
  background-color: var(--headerColor);
  height: 7vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vh;
  font-size: var(--fontSizeHeader);
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 30vh;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 10vh;
  background-color: #111114;
  padding: 0 3vh 0 2vh;
}

.profile img {
  margin-right: 1vh;
  border-radius: 10px;
}

.txt {
  margin-right: 2vh;
}

input {
  background-color: var(--inputFieldColor);
  margin: 1vh 2vh;
  border-radius: 10px;
  padding: 0.5vw;
  width: 50vw;
  color: #f2f2f2;
  font-family:  'Lucida Sans Unicode', 'Arial', sans-serif;
}

input[type="checkbox"] {
    width: 1vw;
    padding: 0;
    margin: 0;
}

textarea {
  background-color: var(--inputFieldColor);
  margin: 1vh 2vh;
  border-radius: 10px;
  padding: 0.5vw;
  width: 50vw;
  height: 4vw;
  color: #f2f2f2;
  font-family:  'Lucida Sans Unicode', 'Arial', sans-serif;
}

.descript {
  height: 20vh;
}

label {
  clear: left;
  display: inline-block;
  padding-right: 2vh;
  text-align: left;
  width: 10vw;
  font-weight: 550;
  padding-bottom: 1vh;
  border-bottom: 1px solid #61616196;
}

button {
  width:5vw;
  height:2vw;
  background-color: var(--buttonBackgroundColor);
  color: #f2f2f2;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;  
  margin-bottom:1vh;
  border: none;
  letter-spacing:1.2px;
}

button:hover {
  background-color: var(--buttonBackgroundColorHover);
  color: #f2f2f2;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;

}

.rightbutton {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: flex-end;
}

.titlebar {
  background-color: var(--headerColor);
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2vh;
  margin-bottom: 3vh;
  margin-top: 2vh;
}

.titlebasic {
  background-color: var(--headerColor);
  border-radius: 10px;
  padding: 2vh;
  margin-bottom: 3vh;
}


.errors {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  color: var(--invalidTextColor);
  width: 32vw;
  padding: 0.4vw;
  border-radius: 10px;
  background-color: var(--invalidBackgroundColor);
  margin-bottom: 0.5vw;
}

.validator-msg {
  margin-left: 1vw;
}

.inline-select {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 63.5vw;
  margin: 2vh 0;
}

.title-output {
  background-color: var(--headerColor);
  border-radius: 10px;
  padding: 2vh;
  margin-bottom: 0.1vw;
}

.right {
  text-align: right;
  margin-bottom: 1vw;
}

.big {
  font-size: 25px;
}




.submission {
  margin-top: 1.3vw;
  height: 2.5vw;
  width: 6vw;
}

.submitbox {
  display: flex;
  justify-content: flex-end;
}

.desc-error {
  margin-top: 0.5vw;
}

.chardisplay {
  max-width: 40vw;
}

.mobiledisplay {
  display: none;
  color: red;
  background-color: pink;
  padding: 5px;
  border-radius: 10px;
  text-align: right;
  margin: 10px;
}

@media only screen and (max-width: 400px) {
  .header {
    height: 9vh;
  }
  .mobiledisplay {
    display: inline-block;
  }
  .nav {
    width: 42vh;
  }
  
  label {
    width: auto;
  }
  input {
    margin: 1vh 0vh;
    padding: 1vw;
    width: 62vw;
  }
  textarea {
    margin: 1vh 0vh;
    border-radius: 10px;
    padding: 1vw;
    width: 62vw;
    height: 30vw;
    overflow: auto;
  }
}

@media only screen and (max-height: 400px) {
  .header {
    height: 15vh;
  }

  .nav {
    width: 82vh;
  }
}