.expander {
    padding: 02vw;
    display: flex;
    justify-content: space-between;
  }

  .chardisplay {
   width: 30%;
  }

  .chardisplay img {
      width: 100%;
  }

  .text {
     width: 70%;
  }

  .route {
    margin: 0.5vw auto;
    width: 12vw;
  }

  .route button {
    background-color: #142214;
    font-size: 16px;
  }
  
  .textbox {
    background-color: #1a211a;
    height: 20vw;
    padding: 15px;
    width: 40vw;
    border-radius: 10px;
    overflow: auto;
    margin: auto;
    break-inside: avoid; 
  }

  .margin {
      margin-top: 1vw;
      width: 90%;
      height: 16vw;
  }

  .textbox h3 {
    text-transform: lowercase;
    background-color: #268035;
    padding: 10px;
    letter-spacing: 2px;
    border-radius: 10px;
    text-align: right;
  }

  .t1 {
      margin-bottom: 2vw;
  }

  .textbox ul {
    margin-left: -8%;
  }

  .textbox li {
    overflow: hidden;
	padding: 6px 0px;
  }
  .textbox li:last-child {
	border: none;
  }

  .textbox li b {
    font-size: 17px;
    margin-right: 5px;
    font-weight: 600;
  }

  .flexer {
    display: flex;
    justify-content: center;
  }

  .lock {
    margin: 0.5vw auto;
    transform: translateY(15px);
    color: #f2f2f2;
    font-size: 25px;
  }

  @media only screen and (max-height: 400px) {

    .textbox {
      font-size: 12px;

    }
    .textbox h3 {
      margin: 0;

    }
    .textbox li b {
      font-size: 13px;
    }

    .text {
      width: 50%;
    }

    .chardisplay {
      width: 45%;
    }

  }