.expander {
    padding: 02vw;
    display: flex;
    justify-content: space-between;
  }

  .chardisplay {
   width: 30%;
  }

  .chardisplay img {
      width: 100%;
  }

  .chardisplay .textbox {
    font-size: 15px;
  }



  .text {
     width: 70%;
  }

  .route {
    margin: 0.5vw auto;
    width: 12vw;
  }

  .route button {
    background-color: #142214;
    font-size: 16px;
  }
  
  .textbox {
    background-color: #1a211a;
    height: 20vw;
    padding: 15px;
    width: 40vw;
    border-radius: 10px;
    overflow: auto;
    margin: auto;
    break-inside: avoid; 
    font-size: 16px;
  }

  .margin {
      margin-top: 1vw;
      width: 90%;
      height: 16vw;
  }

  .textbox h3 {
    text-transform: lowercase;
    background-color: #268035;
    padding: 10px;
    letter-spacing: 2px;
    border-radius: 10px;
    text-align: right;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
  }

  .t1 {
      margin-bottom: 2vw;
  }

  .textbox ul {
    margin-left: -8%;
    margin-top: 0;
  }

  .textbox li {
    overflow: hidden;
	padding: 6px 0px;
  }
  .textbox li:last-child {
	border: none;
  }

  .textbox li b {
    font-size: 16px;
    margin-right: 5px;
    font-weight: 600;
  }

  .flexer {
    display: flex;
    justify-content: center;
  }

  .lock {
    margin: 0.5vw auto;
    transform: translateY(15px);
    color: #f2f2f2;
    font-size: 25px;
  }

  .butones {
    margin-right: 2vw;
    width: 10vw;
    min-height: 3vw;
    transform: translateY(4px);
  }

  @media only screen and (max-width: 1400px) {
    .textbox {
      font-size: 14.5px;
    }

    .textbox li {
      font-size: 14.5px;
    }

    .textbox h3 {
      font-size: 16px;
      margin-top: 0;
    }

    .textbox li b {
      font-size: 15px;
    }
  }

  @media only screen and (max-width: 1200px) {
    .chardisplay {
      width: 40%;
    }

    .text {
      width: 60%;
    }

  }

  @media only screen and (max-width: 800px) {
    .butones {
      width: 15vw;
    }

    .route {
      width: 18vw;
    }
  }

  @media only screen and (max-width: 550px) {
    .butones {
      width: 20vw;
    }
  }

  @media only screen and (max-width: 400px) {
    .butones {
      width: 25vw;
    }
  }


  @media only screen and (max-height: 400px) {

    .textbox {
      font-size: 13px;
    }

    .textbox li {
      font-size: 13px;
    }
    .textbox h3 {
      margin: 0;

    }
    .textbox li b {
      font-size: 14px;
    }

    .text {
      width: 50%;
    }

    .chardisplay {
      width: 45%;
    }

    .textbox h3 {
      font-size: 15px;
      margin-top: 0;
      padding: 8px;
    }

  }